.sidebar{
    background-color: white;
    margin: 5px;
    height: 500px;
}
.post{
    background-color: white;
    margin: 5px;
  
        .posts-list{
            color: black;
            overflow-y: scroll;
            max-height: 46vh;
        }
    }
.advertisement{
    background-color:white;
    margin: 5px;
    position: relative;
    .advertisement-top{

        img{
            width: 100%;
        }
    }
}
.top{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: solid black 5px;

    div{
        margin: 3%;
    }
}
.bottom{
    margin-top: 2%;
    background-color: black;
    border: solid 2px black;
    height: 55vh;

    .user{
        text-align: center;
        color: white;
        background-image: linear-gradient(to right, #00ffff, #000000);
        margin: 2% auto;
    }
}
.form-container{
    width: 100%;
    padding-top: 8%;
    text-align: center;
    input{
        border-radius: 25px;
        width: 100%;
        height: 80px;
        margin-bottom: 2%;
        text-align: center;
    }
    button{
        border-radius: 25px;
        background-image: linear-gradient(to right, #00ffff, #000000)

        
    }
    button:hover{
        box-shadow: #000000a9 2px 2px;
    }
}
