@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');


body{
    background-color: rgb(4, 29, 46);
}
.form{
    
    padding: 5%;
    width: 40%;
    height: 550px;
    color: #CDC5D9;
    margin-top: 30px;
    border-radius: 50%;
    background: linear-gradient(150deg, #BCE8E6,#1E4A53,#1C3B4F);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    1000% {background-position: 0% 50%;}   
}
.button_submit{
    font-family: 'DotGothic16', sans-serif;
    background-color: #1C3B4F;
    border-radius: 50%;
    color: #160626;
    letter-spacing: 10px;
    padding: 15px;
    
    &:hover{
        background-color: #204459;
    color: #CDC5D9;
    }
}
.tittle{
    font-family: 'DotGothic16', sans-serif;
    color: #796C8C;
}
img{
    width: 200px;
    ;
}
.email{
    font-family: 'DotGothic16', sans-serif;
    color: #BCE8E6;
    
}
.pass{
   font-family: 'DotGothic16', sans-serif;
    color: #BCE8E6;
    
}
